{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
{% trans "Welcome to the Alliance for Appalachia" %}
{% endblock %}

{% block main %}
<p>The Alliance for Appalachia is a regional alliance with the goals of ending a devastating form of coal mining called mountaintop removal coal mining, putting a halt to destructive coal technologies and supporting a sustainable, just economy in Appalachia.</p>
<p align="center"><iframe width="560" height="349" src="http://www.youtube.com/embed/XyzwCKoLhDo" frameborder="0" allowfullscreen></iframe></p>
<p>Beginning in the spring of 2006, thirteen organizations from five states in Central Appalachia have worked together to build this alliance. We are pursing a number of complementary strategies including grassroots organizing, leadership development, strategic communications, alliance building, research, litigation, and more.</p>
{% endblock %}
